<%- include('partials/header') %>

<% posts.forEach(post => { %>
    <div class="blog-post">
        <div class="author-info">
                <div class="image-container">
                    <img class="headshot" src="/images/Screenshot 2019-09-06 at 14.11.37.png" alt="image of author" height="40" width="40">
                </div>
                <div class="postinfo-container">
                    <a href="/about" id="authorInfo" class="author-read-more"><span><%= post.author %> </span></a>
                    <p> <%= post.date %> | <span><%= post.time %> min read</span></p>
                </div>
        </div>
        <h1 class="title"><%= post.title %> </h1>
        <p><a href="posts/<%= post._id%>" id="readMore" class="author-read-more">Read More</a></p>
    </div>
<% }); %>

<form action="/" id="form-signin" method="POST" >
    <h1 class="h3 mb-3 font-weight-normal">Sign up to be notified of a new blog post!</h1>
  
    <input type="text" class="form-control top" name="fName" placeholder="First Name" required>
    <input type="text" class="form-control middle" name="lName" placeholder="Last Name" required>
    <input type="email" class="form-control bottom" name="email" placeholder="Email" required>
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

<%- include('partials/footer') %>